# Python
__pycache__/
*.py[cod]
venv/

# Data & Models (Keep large/sensitive files local)
data/
models/*.pth

# OS
.DS_Store

# Outputs
outputs/*
# EXCEPT for the specific validation plots we want on GitHub
!outputs/plots/
!outputs/plots/*.png